<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <ul
    <h1>Welcome to chitter!</h1>
    <p>Please note character limit is 140 letters</p>
      <br><br><br>
      <form action="/action_page.php">Type something:
        <br><input type="text" name="message">
        <input type="submit" value="submit">
        <br><br>
        <input type="text" name="feed">
      </form>
    </ul>
  </body>
</html>
